.newuser{
    display: flex;
    flex-direction: column;
    .userbrotitle{
        margin-top: 20px;

        span{
            font-size: 30px;
            font-weight: 300;
        }
    }
    .formofdata{
        display: flex;
        flex-wrap: wrap;
       

        .filllingitems{
           margin-left: 20px;
           margin-top: 20px;
           display: flex;
           width: 450px;
           flex-direction:column ; 
           label{
                font-size: 14px;
                color: #555;
                
                margin-bottom: 10px;
            }
            input{
                
                border: 1px solid #555;
                height: 30px;
                border-radius: 5px;

            }
            .genderfiller{
                input{
                    width: 20px;
                }
            }
            select{
                border: 1px solid #555;
                height: 30px;
                border-radius: 5px;
            }
        }
        button{
            position: absolute;
            height: 40px;
            width: 70px;
            background-color: teal;
            color: white;
            border: none;
            top: 500px;
            left: 700px;
            cursor: pointer;
        }
    }
}